{% extends "layout.html" %}
{% block content %}
  {% for blog in blogs %}
    <article class="content-section py-3 px-4 mb-4">
      <div class="d-flex align-items-start gap-4">
        <img class="rounded-circle article-img flex-shrink-0"
             src="{{ blog.author.image_path}}"
             alt="{{ blog.author.username }}'s profile picture"
             width="64"
             height="64"
             loading="lazy">
        <div class="flex-grow-1">
          <div class="article-metadata mb-2">
            <a class="me-2" href="{{url_for('user_blog_page' , user_id = blog.author.id)}}">{{ blog.author.username }}</a>
            <small class="text-body-secondary">{{ blog.date_published.strftime(" %B %d , %Y") }}</small>
          </div>
          <h2>
            <a class="article-title" href="{{ url_for('get_blog' , blog_id = blog.id)}}">{{ blog.title }}</a>
          </h2>
          <p class="article-content">{{ blog.content }}</p>
        </div>
      </div>
    </article>
  {% endfor %}
{% endblock content %}