{% extends "layout.html" %}

{% block content %}

<div class="container mt-4">
    <div class="row">

        <!-- Main Post Section -->
        <div class="col-md-8">

            <div class="card bg-dark text-light border-secondary mb-4">

                <div class="card-body">

                    <!-- Author Information -->
                    <div class="d-flex align-items-center mb-3">

                        <img src="{{ blog.author.image_path }}" class="rounded-circle me-3" width="65" height="65"
                            alt="Author">

                        <div>
                            <a href="#" class="text-info text-decoration-none">
                                {{ blog.author.username}}
                            </a>

                            <small class="text-secondary ms-2">
                                {{ blog.date_published.strftime(" %B %d , %Y")}}
                            </small>
                        </div>

                    </div>

                    <hr class="border-secondary">

                    <!-- Post Title -->
                    <h1 class="mb-3">
                        {{ blog.title }}
                    </h1>

                    <!-- Post Content -->
                    <p class="fs-5" style="white-space: pre-line;">
                        {{ blog.content }}
                    </p>

                    <hr class="border-secondary">

                    {% if blog.author.id == 2 %}
                    <div class="post-actions mt-4 d-flex gap-2">

                        <button type="button" id="update-blog-btn" class="btn btn-primary">
                            Edit
                        </button>

                        <button type="button" class="btn btn-danger">
                            Delete
                        </button>

                    </div>

                    {% endif %}

                    <!--model for edit the blog-->
                    <div id="update-blog-modal">

                        <div class="update-blog-content">

                            <div class="update-blog-header">
                                <div>
                                    <h2>update Blog</h2>
                                </div>

                                <button id="close-edit-btn">&times;</button>
                            </div>

                            <form class="update-blog-form" data-blog-id="{{ blog.id }}">

                                <div class="form-group">
                                    <label for="update-blog-title">Title</label>
                                    <input id="update-blog-title" type="text" value="{{ blog.title }}" required>
                                </div>

                                <div class="form-group">
                                    <label for="update-blog-content">Content</label>
                                    <textarea id="update-blog-content"  rows="7" 
                                        required>{{ blog.content }}</textarea>
                                </div>

                                <div class="update-blog-actions">
                                    <button type="button" id="cancel-edit-btn">
                                        Cancel
                                    </button>

                                    <button type="submit" class="submit-blog-btn">
                                        update Blog
                                    </button>
                                </div>

                            </form>

                        </div>



                    </div>
                    <hr class="border-secondary">

                    <!-- Post Actions -->
                    <div class="d-flex justify-content-between align-items-center">

                        <a href="{{ url_for('home') }}" class="btn btn-outline-secondary">
                            Back to Home
                        </a>

                    </div>
                </div>


                {% endblock content %}